.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
  background-color: #f7faff;
}
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 57px;
  background-color: #ffffff;
  padding: 50px 149px;
  max-width: 1319px;
}
.headerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.headerContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 38px;
}
.headerContent p {
  font-size: 25px;
  font-weight: 500;
  max-width: 491px;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 100px;
  max-width: 1319px;
}
.cardContainer {
  background-color: #f7faff;
  padding: 0rem 2rem;
  max-width: 1021px;
}
.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #f7faff;
}
.signImage {
  display: flex;
  align-items: end;
  height: 100px;
}

@media (max-width: 1024px) {
  .headerWrapper {
    max-width: 609px;
  }
  .container {
    background-color: white;
  }
  .mainContent {
    background-color: #f7faff;
    padding: 32px;
  }
  .cardContainer {
    background-color: white;
  }
  .cardWrapper {
    background-color: white;
  }

  .signImage {
    height: 100px;
  }
}
@media (max-width: 768px) {
  .signImage {
    height: 80px;
  }
  .cardContainer {
    padding-inline: 0;
  }
  .cardWrapper {
    gap: 1rem;
    background-color: #f7faff;
  }
  .headerWrapper {
    max-width: 281px;
  }
}
