.header {
    padding: 20px 150px;
    border-bottom: 1px solid #F2F4F5;
    width: 100%;
}

.headerContainer {
    display: flex;
    justify-content: flex-end;
}

.headerRight {
    display: flex;
    gap: 40px;
    align-items: center;
}

.headerProfile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerProfile span {
    font-size: 14px;
    font-weight: 500;
    line-height: 32.5px;
    letter-spacing: -0.3%;
}