.wrapper {
  padding: 20px 16px;
  background-color: #ffffff;
  font-family: 'Pretendard', sans-serif;
}

.mainHeader {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.subHeader {
  font-size: 15px;
  color: #7f95ff;
  font-weight: 500;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  font-size: 16px;
  color: black;
  font-weight: 600;
  margin-top: 1.5rem;
}

.required {
  color: red;
  margin-left: 4px;
  font-weight: 600;
}

.textInput,
.textArea {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  outline: none;
}

.textArea {
  resize: vertical;
  min-height: 100px;
}

.iconInputWrapper {
  position: relative;
}

.inputIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888888;
  pointer-events: none;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.sectionSubTitle {
  font-size: 14px;
  color: #666666;
  margin-bottom: 12px;
}

.toggleGroup {
  display: flex;
  gap: 12px;
}

.toggleButton {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  border: 1px solid #ecedf0;

  border-radius: 8px;
  background-color: #fff;
  color: #000000;
  text-align: center;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.toggleActive {
  width: 100%;
  border-radius: 8px;
  background-color: #f1f8ff;
  border: 1px solid #0066ff;
}

.checkboxContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #444;
}

.paymentNotice {
  margin-top: 32px;
  padding: 14px;
  font-size: 18px;
  color: black;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7faff;
  gap: 0.8rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 4rem;
}

.paymentIcon {
  font-size: 18px;
  color: #999;
}

.textArea {
  font-size: 14px;
  color: #333;
}

.textArea::placeholder {
  color: #adb4ba;
}

.checkboxLabel input[type='checkbox'] {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid #adb4ba;
}

.checkboxLabel input[type='checkbox']:checked {
  background-color: #7f95ff;
  border: 1px solid #7f95ff;
}

.checkboxLabel input[type='checkbox']:checked + span {
  color: #7f95ff;
}
