.aboutUs {
  font-size: 1rem;
  color: #007fff !important;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cardBody {
  font-size: 20px;
  color: black;
  font-weight: 500;
}
.cardTitle {
  font-weight: bold;
  font-size: 44px;
}
.text {
  font-size: 26px;
  font-weight: 700;
  color: black;
  text-align: start;
  margin-top: 10rem;
}
.signatureContainer {
  position: relative;
  width: fit-content;
}
.signatureContainer img {
  position: absolute;
  right: -44%;
  top: -64%;
}

.imageWrapper {
  background-image: url('/assets/images/about/doct.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
  height: 500px;
  width: 100%;
}

.aboutContainer {
  height: 100%;
  max-width: 1200px;
  width: 100%;
}
.maxHeight {
  height: 500px;
}

.buttonMobile {
  display: none;
}
.hideMobile {
  display: block;
}

@media (max-width: 1024px) {
  .hideMobile {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .buttonMobile {
    display: block;
    margin-top: 2.5rem;
  }
  .maxHeight {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .text {
    margin-top: 0;
    padding: 2rem 0rem;
    font-size: 15px;
    text-align: center;
  }
  .cardBody {
    font-size: 1rem;
    text-align: center;
  }
  .cardTitle {
    font-size: 36px;
    text-align: center;
  }
  .signatureContainer img {
    position: absolute;
    right: -78%;
    top: 2%;
  }
}

@media (max-width: 768px) {
  .maxHeight {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .signatureContainer img {
    position: absolute;
    right: -50%;
    top: 18%;
  }
  .flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .text {
    margin-top: 0;
    padding: 2rem 0rem;
    font-size: 15px;
    text-align: center;
  }
  .cardBody {
    font-size: 1rem;
    text-align: center;
  }
  .cardTitle {
    font-size: 36px;
    text-align: center;
  }
  .buttonMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
  }
}
