.aboutUs {
  font-size: 1rem;
  color: #007fff !important;
}
.cardBody {
  font-size: 20px;
  color: black;
  font-weight: 500;
}
.cardTitle {
  font-weight: bold;
  font-size: 44px;
}
.cardFooter {
  font-size: 26px;
  font-weight: 700;
  color: black;
  text-align: start;
  margin-top: 10rem;
}

.imageWrapper {
  background-image: url('/images/about/doct.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
  height: 500px;
  width: 100%;
}

.aboutContainer {
  height: 100%;
  max-width: 1200px;
  width: 100%;
}
.maxWidth {
  height: 500px;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.buttonMobile {
  display: none;
}
.hideMobile {
  display: block;
}

@media (max-width: 1024px) {
  .hideMobile {
    display: none;
  }

  .buttonMobile {
    display: block;
    margin-top: 2.5rem;
  }
  .maxWidth {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .cardFooter {
    margin-top: 0;
    padding: 2rem 0rem;
    font-size: 15px;
    text-align: center;
  }
  .cardBody {
    font-size: 1rem;
    text-align: center;
  }
  .cardTitle {
    font-size: 36px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .maxWidth {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .cardFooter {
    margin-top: 0;
    padding: 2rem 0rem;
    font-size: 15px;
    text-align: center;
  }
  .cardBody {
    font-size: 1rem;
    text-align: center;
  }
  .cardTitle {
    font-size: 36px;
    text-align: center;
  }
}
