.primaryColor {
  color: #007fff;
  font-weight: bold;
}
.subTitle {
  font-size: 30px;
  font-weight: 700;
}
.subHeading {
  color: #007fff;
  font-size: 46px;
  font-weight: 700;
}
.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2rem 2.5rem;
  background-color: #f1f8ff;
  border: none;
  transition: transform 0.3s ease-in;
}
.cardWrapper:hover {
  transform: translateY(-4px);
}
.image {
  object-fit: contain;
}
.employeeProfile {
  object-fit: cover;
  border-radius: 20px;
}
.cardText {
  font-size: 1rem;
}
.imageWrapper {
  position: relative;
  width: 384px;
  height: 514px;
  /* width: 126px;
  height: 171px; */
  object-fit: cover;
}

@media (max-width: 1125px) {
  .imageWrapper {
    height: 282px;
    width: 211px;
  }
}
@media (max-width: 1024px) {
  .subHeading {
    font-size: 38px;
  }
  .subTitle {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .cardWrapper {
    flex-direction: column;
    width: fit-content;
    height: 108px;
    width: 108px;
    padding: 1rem;
    gap: 8px;
    text-align: center;
  }
  .imageWrapper {
    position: relative;
    width: 126px;
    height: 171px;
    object-fit: cover;
  }
  .cardText {
    font-size: 12px;
  }
  .cardTitle {
    font-size: 18px;
  }
  .subHeading {
    font-size: 34px;
  }
  .subTitle {
    font-size: 20px;
  }
}
/* isMobile open for employee */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.firstRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 60%;
  max-width: 500px;
}

.secondRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.employeeProfile {
  object-fit: cover;
}
