.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textStartTitle {
  text-align: start;
  font-size: clamp(21px, 2vw, 24px);
}

.searchExample {
  background-color: #ffffff;
  padding: 0.75rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.searchExample h3,
.searchExample p {
  font-size: clamp(15px, 2vw, 18px);
}
.searchExample p {
  color: #adb4ba !important;
  font-weight: 500;
}
.searchExample h2 {
  color: #007bff;
  font-size: 18px;
  font-weight: 600;
}
.h3WithDot::before {
  content: '•';
  margin-right: 0.5rem;
  color: black;
}
.searchContainer {
  display: flex;
  gap: 0.4rem;
  align-items: stretch;
}
.searchContainer input:focus,
.searchContainer input:active {
  outline: 1px solid #007bff;
  border: 1px solid transparent !important;
}

.input {
  padding: 0.75rem;
  font-size: 14px;
  border: 1px solid #dbdddf;
  border-radius: 12px;
  width: 100%;
}

.searchBtn {
  background-color: #007fff;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBtn:hover {
  background-color: #0173e6;
}
.searchIcon {
  color: white !important;
}

.result {
  font-size: 13px;
  color: #222;
}

.confirmBtn {
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s ease;
}
.fixedBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.primary {
  background-color: #007bff;
  color: #fff;
}

.secondary {
  background-color: #ccc;
  color: #333;
}

.resultsContainer {
  margin-top: 1rem;
}

.resultTitle {
  font-size: clamp(15px, 1.7vw, 18px);
  color: #007aff;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: start;
}

.resultItem {
  display: flex;
  justify-content: space-between;
  text-align: start;
  align-items: flex-start;
  padding: 12px 0px 12px 0px;
  border-bottom: 1px solid #eee;
}

.addressText {
  flex: 1;
  font-size: 14px;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.addressText p {
  font-size: clamp(16px, 1.7vw, 18px);
  font-weight: 500;
}

.subAddress {
  display: flex;
  font-size: clamp(15px, 1.7vw, 18px);
  color: #778088;
  margin-top: 2px;
  font-weight: 500;
  width: 100%;
}
.subAddressWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  display: inline-block;
  background: #dbdddf;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 12px;
  margin-right: 4px;
  color: #fff;
}
.roadAddressWrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}
.roadAddressWrapper p {
  width: fit-content;
}

.selectBtn {
  background-color: #419fff;
  color: white;
  border: none;
  padding: 6px 12px;
  width: 66px;
  height: auto;
  border-radius: 6px;
  font-size: clamp(16px, 1.8vw, 18px);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.selectBtn:hover {
  background-color: #0066d6;
}
.confirmButton {
  margin-top: 1rem;
  width: 100%;
  padding: 18px 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}
.confirmPrimary:hover {
  background-color: #0066d1;
}

.confirmPrimary:active {
  background-color: #036ad2;
  transform: scale(0.98);
}

.confirmSecondary {
  background-color: #adb4ba;
  color: white;
  cursor: not-allowed;
}

.confirmPrimary {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.mobileConfirmButton {
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s ease;
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .mobileModal {
    position: fixed;
    padding: 1rem;
    margin-top: var(--nav-height);
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1100;
    backdrop-filter: none !important;
    box-shadow: none !important;
    border-top: 1px solid #f4f6f6;
  }
  .searchExample {
    padding-inline: 0px;
  }
  .searchBtn {
    padding: 0.5rem 0.7rem;
    background-color: #419fff;
  }
}
