@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.nav {
  background-color: white;
  border-bottom: 1px solid #ddd;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  font-family: 'Pretendard', sans-serif !important;
}

.menu li a:hover {
  color: #007fff;
}

.navLink,
.dropdownToggle {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navLink:hover,
.dropdownToggle:hover {
  color: #007fff;
}

.navLink.active,
.navLink:active {
  color: #007fff;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  /*   height: 70px; */
}

.logo a {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.hamburger {
  display: none;
  background: none;
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  color: #333;
  z-index: 100;
}

/* Desktop menu */
.menu {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  align-items: center;
}

.menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.dropdownToggle {
  cursor: pointer;
  font-weight: 500;
}

.dropdownMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 2rem;
}
.dropdown:hover .dropdownMenu {
  display: flex;
}

.dropdownMenu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 140px;
}

.dropdownMenu li img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.dropdownMenu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Close button inside mobile overlay */
.closeButton {
  cursor: pointer;
  height: 20px;
  width: 10px;
  background-color: transparent;
  position: relative;
}

.closeButtonParent {
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 40;
  position: relative;
  top: 0px;
  background-color: white;
  padding-inline: 14px;
  margin-inline: auto;
  width: 100%;
}

/* Services panel for mobile */
.servicesPanel {
  width: 100%;
  top: 0;
  position: relative;
  background: #fff;
  z-index: 40;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 2rem 2rem 2rem;
  gap: 2rem;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.textCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Mobile nav panel */
.mobileNavOverlay {
  position: fixed;
  top: 56px;
  left: 0;
  width: 50%;
  height: calc(100vh - 70px);
  background: #fff;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 20;
  border-right: 1px solid #ddd;
  text-align: left;
  transition: transform 0.2s ease-in-out;
  transform: translateX(0);
}

.mobileNavOverlayClose {
  transform: translateX(-100%);
}

.mobileNavOverlay li {
  margin-bottom: 1.5rem;
  width: 100%;
  font-weight: 600;
  text-align: center;
  list-style: none !important;
}

.mobileNavOverlay li a,
.serviceBtn {
  display: block;
  width: 100%;
  color: #333;
  text-align: left;
  font-size: 1rem;
  margin-left: auto;
  padding-left: 14px;
  font-weight: 500;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0;
  list-style: none !important;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .nav {
    padding: 0px;
    height: 56px;
  }
  .navContainer {
    padding: 0px;
    height: 56px;
  }
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
  }

  .dropdownMenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: fixed;
    transform: none;
    border: none;
    padding: 1rem;
    box-shadow: none;
    gap: 1rem;
  }

  .subMenu li {
    display: flex;
    flex-direction: column;
  }

  .dropdownMenu li a {
    width: 100%;
  }

  .dropdownMenu li a img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /*  .servicesPanel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } */
  .servicesPanel img {
    border-radius: 19.2px;
    width: 115px;
    height: 115px;
    object-fit: cover;
    margin-bottom: 10px;
  }
}
