.page {
  width: 100%;
  background-color: var(--bg-secondary);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
}

@media (min-width: 768px) {
  .titleContainer {
    margin-top: 100px;
    margin-bottom: 72px;
  }
}

@media (min-width: 1080px) {
  .titleContainer {
    margin-top: 100px;
    margin-bottom: 72px;
  }
}
