@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-pretendard: 'Pretendard', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-pretendard);
}

/* LAYER UTILITIES */

.loading {
  position: 'fixed';
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.mainLayout {
  /*  min-height: calc(100vh - 80px); */
  margin-top: 77px;
  min-height: 100vh;
  /*  padding: 2rem 1rem; */
}
@media (max-width: 768px) {
  .mainLayout {
    margin-top: 56px;
  }
}
.btnPrimary {
  background-color: #007fff;
  color: #fff;
  border: none;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btnSecondary {
  width: 250px;
  height: 54px;
  background-color: #fff;
  color: #007fff;
  border: 1px solid #c3c4c5;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
  width: 100%;
}

/* Max-width breakpoints from small to large screens */
@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding-inline: 14px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1281px) and (max-width: 1368px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1369px) and (max-width: 1600px) {
  .container {
    max-width: 1368px;
  }
}

@media (min-width: 1601px) and (max-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}
