.containerBg {
  background-image: url('/assets/images/discountbg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
}
.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1368px;
}
.discountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 0rem;
}
.cardBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
  border: none;
  gap: 1rem;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: center;
  flex: 1 1 0;
  min-width: 0;
  max-width: 25%;
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
  height: 471px;
}
.cardBackground::before {
  content: '';
  position: absolute;
  background-image: url('/assets/images/Subtract.png'); /* Use your correct path */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.contentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem 0rem;
  height: 100%;
}
.label {
  font-size: 16px;
  font-weight: 400;
  color: #5a636a !important;
}
.cardHeader {
  position: relative;
}
.cardContent {
  position: relative;
}
.payment {
  position: relative;
  max-width: 144px;
}
.buttonText {
  width: 224px;
}

.textColor {
  color: #5a5aff;
  font-size: 48px;
  font-weight: bold;
  position: relative;
}
.paymentColor {
  color: black;
  font-size: 22px;
  font-weight: 500;
  line-height: 139%;
}

/* .buttonText {
  width: 264px;
} */
.discount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.icon {
  object-fit: contain;
}

/* @media (min-width: 1600px) {
  .cardBackground {
    width: 324px;
    height: 471px;
  }
} */

.cardBackgroundMobile {
  border: none;
  background-color: transparent;

  height: 140px;
  width: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  text-align: center;
  position: relative;
}
.cardBackgroundMobile::before {
  content: '';
  background-image: url('/assets/images/mobileSubtract.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}
.cardBackgroundMobile::after {
  content: '';
  position: absolute;
  border-right: 2px dotted rgb(219, 219, 219);
  height: 78.8%;
  top: 1rem;
  right: 33.3%;
  /*  right: 149.5px; */
}

.contentWrapperMobile {
  display: flex;
  align-items: center;
  justify-content: start;
}

.textColorMobile {
  color: #5a5aff;
  font-size: 28px;
  margin-top: 1rem;
}

.paymentColorMobile {
  color: black;
  font-size: 13px;
  font-weight: 700;
  margin-top: 1.5rem;
}
.paymentTextMobile {
  position: absolute;
  width: 80px;
  text-align: center;
  right: 6%;
  top: 25%;
}
.discountMobile {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 0.6rem;
  left: 1.1rem;
  top: 30%;
}

@media (max-width: 1024px) {
  .cardBackground {
    height: 310px;
  }
  .textColor {
    font-size: 34px;
  }

  .textColor {
    font-size: 34px;
  }
  .paymentColor {
    font-size: 15px;
    font-weight: 500;
  }
  .buttonText {
    font-size: 18px;
    width: 154px;
    font-weight: 600;
  }
  .payment {
    max-width: 99px;
  }
  .label {
    font-size: 12px;
  }
}

@media (max-width: 860px) {
  .buttonText {
    width: 144px;
  }
  .textColor {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.1rem;
  }
  .cardBackground {
    height: 350px;
  }
}

@media (max-width: 520px) {
  .cardBackgroundMobile {
    width: 400px;
  }
}
@media (max-width: 468px) {
  .cardBackgroundMobile {
    width: 360px;
  }
}

@media (max-width: 368px) {
  .cardBackgroundMobile {
    width: 320px;
  }
  .paymentTextMobile {
    right: 4%;
    top: 25%;
  }
  .discountMobile {
    left: 0.5rem;
    top: 30%;
  }
}
