.heading {
  color: #0066ff;
  font-size: 26px;
  font-weight: 600;
}
.subHeading {
  font-size: 40px;
  font-weight: bold;
}
.description {
  font-size: 22px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .heading {
    font-size: 22px;
  }
  .subHeading {
    font-size: 40px;
  }
  .description {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 17px;
    font-weight: bold;
  }
  .subHeading {
    font-size: 28px;
  }
  .description {
    font-size: 15px;
  }
}
